



.container{
    background-color: hsl(0, 0%, 94%);
    width: 100vw;
    height: 100vh;
}

.block{
        width: 50%;
        height: 600px;
        background-color: hsl(0, 0%, 100%);
        margin: auto;
        float: unset;
        position: relative;
        top: 115px;
        border-radius: 20px;
        border-bottom-right-radius: 200px;
}

.innerBox{
    padding: 50px;
}

.data{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
}
input{
    width: 57%;
        height: 50px;
        border-radius: 10px;
        border: 1px solid hsl(0, 0%, 86%);
        padding: 12px;
        padding-top: 6px;
        padding-left: 18px;
}
input[type="number"] {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2px;
    
}


label{
    margin-bottom: 5px;
    font-family: 'appfontRegular';
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 14px;
    color: hsl(0, 1%, 44%);
}
input::placeholder{
    font-weight:900;
    letter-spacing: 2px;
    font-size: 32px;
}
button{
        position: absolute;
        float: right;
        right: 50px;
        top: 161px;
        width: 100px;
        height: 87px;
        border-radius: 50%;
        background: hsl(259, 100%, 65%);
     
        border: 1px solid transparent;
}
input[type='number']:focus{
    outline: 2px solid hsl(259, 100%, 65%);
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

span{
    font-family: 'appfontExtraBoldItalic';
    color: black !important;
}
.output{
    font-family: 'appfontExtraBoldItalic';
    font-size: 60px;
    color: hsl(259, 100%, 65%);
    font-size: 60px
}


@media (max-width:1000px) {
    .block{
        width: 75%;
    }
}
@media (max-width:800px) {
    .block {
        width: 85%;
    }
}
@media (max-width:600px) {
    .block {
        width: 85%;
        
    }
    
}
@media (max-width:510px) {
    .block {
        width: 90%;
       
    }
        .innerBox {
            padding: 30px;
        }
    
}