<div class="container">
    <div class="block">
        <div class="innerBox">
            <form [formGroup]="ageCalculator" (ngSubmit)="calculateAge()">
                <div class="row" >
                    <div class="data">
                        <label for="day" >DAY</label>
                        <input type="number" formControlName="day" placeholder="DD">
                    </div>
                      <div class="data">
                        <label for="month">MONTH</label>
                        <input type="number" formControlName="month" placeholder="MM">
                    </div>
                      <div class="data">
                        <label for="year">YEAR</label>
                        <input type="number" formControlName="year" placeholder="YYYY">
                    </div>
                </div>
                    <button><img src="../assets/images/icon-arrow.svg"></button>
                <hr style="margin-top: 60px;">
            </form>

            <div class="output">{{days}}  <span>Days</span></div>
            <div class="output" >{{months}}  <span>Months</span></div>
            <div class="output">{{years}}  <span>Years</span></div>




        </div>
    </div>
</div>